:root {

  --cont: rgba(255, 255, 255, 0.777);
  --bg: rgba(255, 255, 255, 0);
  --ac1: red;
  --ac2: green;

  --max-w: 60rem;
  --contpad: 2rem;

  --bord-rad: 2rem;
  --bord-col: rgb(255, 255, 255);
  --bord-thick: 3px;

}

/* Custom Classes*/

.container {
  
  max-width: var(--max-w);
  margin: 2rem auto;
  background-color: var(--cont);
  border-radius: var(--bord-rad);
  border-color: var(--bord-col);
  border-style: solid;
  border-width: var(--bord-thick);
  overflow-wrap: break-word;

}

.introcontainer {

height: auto;
background-color: var(--bg);
padding: var(--contpad);

}

.intro {

  height: auto;
  width: auto;
  font-size: x-large;
  background-color: var(--bg);
  font-family: sans-serif;
  padding: 0.5rem;

}

.rss {

  display: block;
  height: 2rem;
  margin-left: 50%;
  margin-right: auto;
  
}

.twitter {

  display: block;

}

.articlelinks {

  padding: 2rem;
}

/* Normal Classes */

footer {

  width: auto;
  height: 4rem;
  text-align: center;
  padding: 2rem;
  margin-bottom: 2rem;

}

article {

  font-size: large;
  font-family: sans-serif;
  padding: 1rem 2rem 1rem 2rem;
  margin: 0.5rem;
  border-radius: 0.2rem;

}

article :hover{

  background-color: rgb(255, 255, 255);

}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

a {
  
  color: black;
  text-decoration: none;
}

a :visited {

  color: black;
  text-decoration: none;
}