:root {

  --cont: rgba(240, 245, 255, 0.926);
  --bg: rgba(255, 255, 255, 0);
  --ac1: red;
  --ac2: green;

  --max-w: 60rem;
  --contpad: 1rem;

  --bord-rad: 2rem;
  --bord-col: rgb(255, 255, 255);
  --bord-thick: 3px;

}

/* Custom Classes*/

.container {

  max-width: var(--max-w);
  margin: 1rem auto;
  background-color: var(--cont);
  border-radius: var(--bord-rad);
  border-color: var(--bord-col);
  border-style: solid;
  border-width: var(--bord-thick);
  overflow-wrap: break-word;

}

.introcontainer {

  height: auto;
  background-color: var(--bg);
  margin: 0%;

}

.intro {

  height: auto;
  width: auto;
  font-size: x-large;
  background-color: var(--bg);
  font-family: sans-serif;
  padding: 0.5rem;

}

.articlelinks {

  padding: 1rem;
  
}

/* Normal Classes */

footer {

  width: auto;
  height: auto;
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 0;

}

.articlepage {

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  background-color: white;
  border-radius: 0.5rem;
  margin: 2rem;

}

article {

  display: block;
  font-size: large;
  font-family: sans-serif;
  margin: 1.5rem;

}

article :hover {

  display: block;
  background-color: rgb(207, 229, 246);

}

h1 {
  text-align: center;
  margin-bottom: 0%;
  margin-top: 0%;
}

h2 {
  text-align: center;
}

a {

  color: black;
  text-decoration: none;
}

a :visited {

  color: black;
  text-decoration: none;
}

strong {

  display: block;
  color: rgb(206, 89, 0);
}