
:root {

  --vim: green;
  --obsd: yellow;
  --blender: orange;
  --go: blue;
  --sketch: red;

  --max-w: 60rem;
  --contpad: 2rem;

  --bord-rad: 0.2rem;
  --bord-col: rgb(255, 255, 255);
  --bord-thick: 3px;

}

/*--------------------------------------------------------------------------------*/

.wrapper {
  max-width: 60em;
  padding: 1em;
  border-radius: 1rem;
  border-color: var(--bord-col);
  border-width: var(--bord-thick);
  border-style: solid;
  
  background-color: rgba(255, 255, 255, 0.755);
  min-width: 20em;
  margin-bottom: 1em;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  overflow-wrap: break-word;
}

/* ------------------------------------------------------------------------------- */

p {
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(33, 33, 33);
	text-align: left;
  margin-right: 4em;
  margin-left: 4em;
}

    /* Header 1 font */

h1 {
	color: black;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;

}

    /* Header 2 font */

h2 {
	color: black;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
  margin: 2em 4em 2em 4em;

}

    /* Header 3 font */

h3 {
	color: rgb(0, 0, 0);
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;

}

h4 {

  color: black;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

a:link {
  color: darkgrey;
  background-color: transparent;
  text-decoration: none;
  position: center;
}

a:visited {
  color: orangered;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

img {

  display: block;
  margin: 1rem auto 0.5rem auto;
}

footer {
  padding: 1em;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 1em;
}