
/*--------------------------------------------------------------------------------*/

/* LAYOUT */

/*--------------------------------------------------------------------------------*/


/* This is the main cascading style sheet */

/* Step 1 */

/* Wrapping the content into a gid */

/* Defining the use of a grid */

.wrapper {
  max-width: 50%;
  margin-bottom: 20%;
  min-width: 20%;
  margin-left: auto;
  margin-right: auto;
  overflow-wrap: break-word;
}

div {

    text-align: left;
}


/* ------------------------------------------------------------------------------- */

/* TEXT */

/* ------------------------------------------------------------------------------- */

    /* Regular paragraph font */



p {
	font-family: Arial, Helvetica, sans-serif;
	color: darkgrey;
	text-align: center;

}

    /* Header 1 font */

h1 {
	color: black;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;

}

    /* Header 2 font */

h2 {
	color: black;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;

}

    /* Header 3 font */

h3 {
	color: darkslategrey;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;

}

h4 {

  color: black;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

    /* Link styling font */

a:link {
  color: darkgrey;
  background-color: transparent;
  text-decoration: none;
  position: center;
}

    /* Previously visited link style font */

a:visited {
  color: orangered;
  background-color: transparent;
  text-decoration: none;
}

    /* Mouse hovers over a link and it reacts */

a:hover {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

    /* Most recently utilized link */

a:active {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

img {

  align-content: center;
  border: 1px;
}


